<h1>Data Binding</h1>

<h2>1.One way data binding</h2>
<h3>A. Component to View Binding</h3>

<!--Interpolation-->
<h4>A.1 Interpolation</h4>
<p>{{name}}</p>
<ul *ngFor="let item of User">
  <li>{{item.id}}, {{item.name}}</li>
</ul>

<!--Property Binding-->
<h4>A.2 Property Binding</h4>
<p [innerHTML]="name">Hello world</p>
<input [placeholder]="placeholderValue">

<!--Style Binding-->
<h4>A.3 Style Binding</h4>
<p [ngStyle]="{color: colorValue}">Hello World</p>
<p [ngClass]="'c1'">Hello World</p>

<!--Attribute Binding-->
<h4>A.4 Attribute Binding</h4>
<a [href]="refrenceLink" [attr.link-tag] = 'carrersite'>LinkedIn</a>

<!--Event Binding-->
<h4>A.5 Event Binding</h4>
<button (click)="handleClick()">Click Me..</button>
<button (click)="showValue(2000)">Show Number</button>
<div>
  <app-two-way-binding></app-two-way-binding>
</div>
<div>

  <app-built-in-pipes></app-built-in-pipes>
  <app-chaining-pipes></app-chaining-pipes>
  <app-custom-pipes></app-custom-pipes>
  <app-parameterized-pipes></app-parameterized-pipes>
</div>
<router-outlet></router-outlet>